.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
    height: 100dvh;
    overflow-y: scroll;

    & > form {
        height: 100px;
        width: 600px;
        display: flex;
        justify-content: center;

        & .input {
            height: 100px;
            width: 80%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
    
            & button {
                width: 20%;
            }
        }    
    }

    

    .list-courses {
        margin-top: 50px;
        display: flex;
        width: 90%;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        // overflow-y: scroll;

        & .card-item {
            display: flex;
            justify-content: end;
            align-items: end;
            position: relative;
            overflow: hidden;
            min-width: 350px;

            & .card-image {
                width: 100%;
                height: 70%;
                position: absolute;
                right: 0;
                left: 0;
                top: 0;
                bottom: 100px;
                margin-bottom: 10px;
            }

            & .card-footer {
                display: flex;
                flex-direction: column;
                justify-content: start;
                align-items: start;
                gap: 10px;
                padding: 0 5px;

                & .description {
                    text-align: start;
                }
            }
        }
    }
}

.skeleton-loader {
    display: flex;
    flex-direction: column;
    gap:10px;
}

.errorAlert {
    // border: 1px solid red;
    background-color: rgb(255, 224, 224);
    width: fit-content;
    padding: 0 5px;
    position: absolute;
    height: 50px;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
}

form .error > :nth-child(1) {
    border: 1px solid red;
    transition: 1s all;
    animation: blink-border 1s step-start 5;
  }
  

  .InputError {
    border: 1px solid red;
    transition: 1s all;
    animation: blink-border 1s step-start 5;
  }

   /* Keyframes to toggle border visibility */
   @keyframes blink-border {
    50% {
      border-color: transparent;
    }
  }

  .table {
    overflow: hidden;
  }

  .preventButtonClick {
    opacity: 0.5;
    pointer-events: none;
    cursor: not-allowed;
  }